{% extends 'baseA.html.twig' %}

{% block body %}
    <h1 style="text-align: center;">Liste des réclamations</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>ID Réponse</th>
                <th>ID Réclamation</th>
                <th>Réponse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for reponse in reponses %}
                <tr>
                    <td>{{ reponse.id }}</td>
                    <td>{{ reponse.reclamation.id }}</td>
                    <td>{{ reponse.reponse }}</td>
                    <td>
                        <a href="{{ path('updatereponse', {'id': reponse.id}) }}" class="btn btn-primary">Modifier</a>
                        <a href="{{ path('deletereponse', {'id': reponse.id}) }}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{{ path('addreponse') }}" class="btn btn-primary">Ajouter une réponse</a>
        <a href="{{ path('addreponse') }}" class="btn btn-secondary">Retour</a> 
    </div>
{% endblock %}
