{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align: center;">Liste des réclamations</h1>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>Objet</th>
            <th>Message</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.objet }}</td>
                <td>{{ reclamation.message }}</td>
                <td>
                    <a href="{{ path('updatereclamation', {'id': reclamation.id}) }}" class="btn btn-primary">Modifier</a>
                    <a href="{{ path('deletereclamation', {'id': reclamation.id}) }}" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{{ path('addreclamation') }}" class="btn btn-primary">Ajouter une réclamation</a>
    </div>
    <br>
    <div class="row">
        <div class="col" style="text-align: center;">
            <a class="btn btn-success" href="{{ path('pdffront') }}" style="text-decoration: none;">Générer PDF</a>
        </div>
    </div>

    <a href="{{ path('addreclamation') }}" class="btn btn-secondary">Retour</a>

{% endblock %}
