{{ form_start(form) }}
    {{ form_row(form.referenceProduits) }}
    {{ form_row(form.nomProduits) }}
    {{ form_row(form.descriptionProduits) }}
    {{ form_row(form.prix) }}
    {{ form_row(form.stock) }}
    {{ form_row(form.typeProduits) }}
    {{ form_row(form.categories) }}
    {{ form_row(form.imageProduits) }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
{{ form_end(form) }}
